<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mappers.article.ArticleMapper">
    
    <insert id="create">
        insert into tbl_article (
            article_no,
            title,
            content,
            writer,
            regdate,
            viewcnt
        ) values (
            #{articleNo},
            #{title},
            #{content},
            #{writer},
            #{regDate},
            #{viewCnt}
        )
    </insert>
    
    <select id="read" resultMap="ArticleResultMap">
        select
            article_no,
            title,
            content,
            writer,
            regdate,
            viewcnt
        from
            tbl_article
        where article_no = #{articleNo}
    </select>

    <update id="update">
        update tbl_article
        set
            title = #{title},
            content = #{content}
        where
            article_no = #{articleNo}
    </update>
    
    <delete id="delete">
        delete from tbl_article
        where article_no = #{articleNo}
    </delete>

    <select id="listAll" resultMap="ArticleResultMap">
        <![CDATA[
        select
            article_no,
            title,
            content,
            writer,
            regdate,
            viewcnt
        from tbl_article
        where article_no > 0
        order by article_no desc, regdate desc
        ]]>
    </select>

    <select id="listPaging" resultMap="ArticleResultMap">
        <![CDATA[
        select
            article_no,
            title,
            content,
            writer,
            regdate,
            viewcnt
        from tbl_article
        where article_no > 0
        order by article_no desc, regdate desc
        limit #{page}, 10
        ]]>
    </select>

    <select id="listCriteria" resultMap="ArticleResultMap">
        <![CDATA[
        select
            article_no,
            title,
            content,
            writer,
            regdate,
            viewcnt
        from tbl_article
        where article_no > 0
        order by article_no desc, regdate desc
        limit #{pageStart}, #{perPageNum}
        ]]>
    </select>

    <select id="countArticles" resultType="int">
        <![CDATA[
        select count(article_no)
        from tbl_article
        where article_no > 0
        ]]>
    </select>

    <select id="listSearch" resultMap="ArticleResultMap">
        <![CDATA[
        select
            article_no,
            title,
            content,
            writer,
            regdate,
            viewcnt,
            reply_cnt
        from tbl_article
        where article_no > 0
        ]]>
        <include refid="search"/>
        <![CDATA[
        order by article_no desc, regdate desc
        limit #{pageStart}, #{perPageNum}
        ]]>
    </select>
    
    <select id="countSearchedArticles" resultType="int">
        <![CDATA[
        select count(article_no)
        from tbl_article
        where article_no > 0
        ]]>
        <include refid="search"/>
    </select>

    <sql id="search">
        <if test="searchType != null">
            <if test="searchType == 't'.toString()">
                and title like concat('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'c'.toString()">
                and content like concat('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'w'.toString()">
                and writer like concat('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'tc'.toString()">
                and (
                    title like concat('%', #{keyword}, '%')
                    or content like concat('%', #{keyword}, '%')
                )
            </if>
            <if test="searchType == 'cw'.toString()">
                and (
                    content like concat('%', #{keyword}, '%')
                    or writer like concat('%', #{keyword}, '%')
                )
            </if>
            <if test="searchType == 'tcw'.toString()">
                and (
                    title like concat('%', #{keyword}, '%')
                    or content like concat('%', #{keyword}, '%')
                    or writer like concat('%', #{keyword}, '%')
                )
            </if>
        </if>
    </sql>
    
    <update id="updateReplyCnt">
        update tbl_article
        set reply_cnt = reply_cnt + #{amount}
        where article_no = #{articleNo}
    </update>

    <update id="updateViewCnt">
        update tbl_article
        set viewcnt = viewcnt + 1
        where article_no = #{articleNo}
    </update>
    
    <resultMap id="ArticleResultMap" type="ArticleVO">
        <id property="articleNo" column="article_no"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="writer" column="writer"/>
        <result property="regDate" column="regdate"/>
        <result property="viewCnt" column="viewcnt"/>
        <result property="replyCnt" column="reply_cnt"/>
    </resultMap>

</mapper>