<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mappers.reply.ReplyMapper">

    <select id="list" resultMap="ReplyResultMap">
        select
            reply_no,
            article_no,
            reply_text,
            reply_writer,
            reg_date,
            update_date
        from tbl_reply
        where article_no = #{articleNo}
        order by reply_no
    </select>

    <insert id="create">
        insert into tbl_reply (
            article_no,
            reply_text,
            reply_writer
        ) values (
            #{articleNo},
            #{replyText},
            #{replyWriter}
        )
    </insert>

    <update id="update">
        update tbl_reply
        set
            reply_text = #{replyText},
            update_date = now()
        where reply_no = #{replyNo}
    </update>

    <delete id="delete">
        delete from tbl_reply
        where reply_no = #{replyNo}
    </delete>

    <select id="listPaging" resultMap="ReplyResultMap">
        select
            reply_no,
            article_no,
            reply_text,
            reply_writer,
            reg_date,
            update_date
        from tbl_reply
        where article_no = #{articleNo}
        order by reply_no
        limit #{criteria.pageStart}, #{criteria.perPageNum}
    </select>

    <select id="countReplies" resultType="int">
        select
            count(article_no)
        from tbl_reply
        where article_no = #{articleNo}
    </select>

    <resultMap id="ReplyResultMap" type="ReplyVO">
        <id property="replyNo" column="reply_no"/>
        <result property="articleNo" column="article_no"/>
        <result property="replyText" column="reply_text"/>
        <result property="replyWriter" column="reply_writer"/>
        <result property="regDate" column="reg_date"/>
        <result property="updateDate" column="update_date"/>
    </resultMap>

    <resultMap id="ArticleResultMap" type="ArticleVO">
        <id property="articleNo" column="article_no"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="writer" column="writer"/>
        <result property="regDate" column="regdate"/>
        <result property="viewCnt" column="viewcnt"/>
    </resultMap>

</mapper>